<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to the Contacts Page</h1>
    <nav>
      <h2> Contacts </h2>
      <div>
        <% @contacts.each do |contact| %>
        <div> <%= contact.full_name %> </div>
        <% end %>
      </div>
    </nav>
  </body>
</html>

<!--  how would i put each contact as a seprate section of the page?-->
<!--how to link to other webpage?  -->
