<section class="contact_banner">
  <p id="banner_text"> There are <span id="underline5"><%=Contact.count%></span> contacts </p>
</section>

<div>
  <% @contacts.each do |contact| %>
  <div class="contact_color"> <%= contact.full_name %>
      <aside>
        <a class="unbold" href='/contacts/<%= contact.id %>/edit'>Edit</a>
        <form action='/contacts/<%= contact.id %>' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input id="delete" type='submit' value="delete" >
        </form>
      </aside>
  </div>
  <% end %>
</div>
