<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to the Contacts Page</h1>
    <nav>
      <h2> Contacts </h2>
      <ul>
        <% @contacts.each do |contact| %>
        <li> <%= contact %> </li>
        <% end %>
      </ul>
    </nav>
  </body>
</html>

<!--  how would i put each contact as a seprate section of the page?-->
<!--how to link to other webpage?  -->
