<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:4567/styles.css">
    <title>Web App # 1!</title>
  </head>
  <body>

  <%= yield %>

    <footer>
      <h6>© Bitmaker 2017</h6>
    </footer>
  </body>
</html>
