<div>
  <a href="/contacts/<%= @contact.id %>"><%= @contacts.full_name %></a>
</div>

<!-- <form action='/contacts/<%= contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='<%= @contact.delete %>' >
</form> -->
